* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* .img-container > img {
    width: calc(100% - 20px);
} */

.arrow-l {
    display: inline-block;
    position: absolute;
    top: 50px;
}